@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
.root {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 400px;
  height: 600px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #999;
}

.item {
  position: relative;
  border-bottom: 1px solid #999;
}

.stylizedList {
  position: relative;
  z-index: 0;
  background-color: #F3F3F3;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  outline: none;
}

.stylizedItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: #FFF;
  border-bottom: 1px solid #EFEFEF;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  font-weight: 400;
}

.grid {
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  border: 0;
  background-color: transparent;
}

.gridItem {
  float: left;
  width: 165px;
  height: 150px ;
  padding: 8px;
  background: transparent;
  border: 0;
  position: relative;
}
.gridItem .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #FFF;
  border: 1px solid #EFEFEF;
  font-size: 28px;
}
.gridItem .wrapper span {
  display: none;
}

.helper {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.stylizedHelper {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: row-resize;
}
.stylizedHelper.horizontalItem {
  cursor: col-resize;
}
.stylizedHelper.gridItem {
  background-color: transparent;
  white-space: nowrap;
  box-shadow: none;
}
.stylizedHelper.gridItem .wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

.wrapper {
  position: relative;
  cursor: move;
}

.cancel-btn-wrapper,
.sort-disp-wrapper {
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sort-disp-num{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
}

.carousel-item-img-cancel{
  font-weight: 100 !important;
  font-size: 10px !important;
  height: 20px !important;
  width: 20px !important;
  border-radius: 100% !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
  padding: 0 !important;
  padding-left: 1px !important;
  float: right;

  display: inline-block !important;
  vertical-align: top !important;
  border: 1px solid rgba(255, 255, 255, 0.432) !important;
  box-shadow: 1px 1px #88888891;
}