.srch-srvce-txt {
    float: right;
    margin-right: 20px;
    color:  rgb(179, 179, 179);
    font-weight: 100;
    font-style: italic;
}

.global-search-icon{
    width: 100%;
    margin-bottom: 2px;
    padding-left: 2px
}

.search-val-first {
    border-top: 2px groove rgba(185, 185, 185, 0.212);
}